<div id="contact" class="row section" [@fadeInFadeOut]="isVisible ? 'visible' : 'hidden'">
  <div class="col-12">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-center contact-col">
        <div class="row">
          <div class="col-12">
            <div class="contact-card">
              <h1 class="mb-5">Get in Touch</h1>
              <div class="contact-info">
                <a href="mailto:rita.isabel.goncalves@outlook.pt" class="contact-btn">
                  <i class="fa-solid fa-envelope"></i>
                  <p class="m-0">Email Me</p>
                </a>
                <a href="https://www.linkedin.com/in/ritaisagoncalves" class="contact-btn" target="_blank">
                  <i class="fa-brands fa-linkedin-in"></i>
                  <p class="m-0">Connect on LinkedIn</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex align-items-center justify-content-center footer-col">
        <div>
          <p class="m-0">&#64; 2025 Rita Gonçalves</p>
        </div>
      </div>
    </div>
  </div>
